#root{
    -fx-background-color: black;
}

#sendPassword{
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

#emailLabel{
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

#goBack{
    -fx-text-fill: black;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}